/* -------------------------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------------------------- */
footer {
  min-height: 300px;
  padding: 40px 20px 0 20px;

  h2 {
    font-weight: 300;
  }

  .containerish {
    // max-width: 100%;
    display: grid;
    .footer-col-1 {
      .fab {
        margin-top: 1rem;
        margin-right: 0.5rem;
      }
      #footer-logo {
        max-width: 245px;
        display: block;
        margin-bottom: 2rem;
      }
    }
    .footer-col-2,
    .footer-col-3 {
      margin-top: 2rem;
    }
    .db-input {
      width: 100%;
      margin-bottom: 0.8rem;
    }
    .footnote {
      margin-top: 2rem !important;
      margin-bottom: 1rem;
      display: block;
      text-align: center;
    }
  }

  ::placeholder {
    letter-spacing: 0.05rem;
    margin-left: 0.2rem;
    padding-left: 0.6rem;
    color: rgba($color-black, 0.8);
    font-size: 12px;
  }
}
