/* -------------------------------------------------------------------------- */
/* HEADER - TOPBAR AND NAVBAR IF NEEDED */
/* -------------------------------------------------------------------------- */

/* navburger */
.nav-burger-container {
  position: fixed;
  top: 10px;
  right: 0;
  background: transparent;
  z-index: 999999;
  cursor: default;
  padding: 15px 15px;
  grid-column: 3 / 4;

  .nav-burger {
    width: 45px;
    height: auto;

    .burger-line {
      height: 4px;
      width: 100%;
      background-color: #fff;
      display: block;
      margin-bottom: 6px;
      transition: all 0.3s ease-in-out;

      &.show {
        background-color: $color-dark;
      }

      &.active {
        background-color: $color-main;
        &.burger-line:nth-child(1) {
          transform: rotate(40deg);
          margin-top: 8px;
          // margin-bottom: 8px;
          transition: all 0.3s ease-in-out;
        }
        &.burger-line:nth-child(2) {
          transition: all 0.1s ease-in-out;
          visibility: hidden;
        }
        &.burger-line:nth-child(3) {
          transform: rotate(-40deg);
          margin-top: -21px;
          margin-bottom: 8px;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .burger-line {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // width: 100%;
  height: 75px;
  z-index: 999;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;

  &.show {
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 12px rgba($color-black, 0.07);
  }

  .containerish {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 1rem;
  }

  .main-navbar {
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr 70px;
    grid-column-gap: 2rem;
    align-items: center;
    justify-content: flex-end;

    .top-menu-logo {
      display: none;
      max-width: 150px;
      height: auto;
      // grid-column: 1 / 2;
      // margin-left: 3rem;
      transition: all 0.3s ease-in-out;

      &.active {
        display: inline;
        transition: all 0.3s ease-in-out;
      }
    }

    .social-menu {
      display: none;
      transition: all 0.3s ease-in-out;

      .fab:nth-child(1) {
        margin-right: 1rem;
        display: inline-block;
      }
    }
    .header-social-menu {
      display: none;
      transition: all 0.3s ease-in-out;

      .fab:nth-child(1) {
        margin-right: 1rem;
        display: inline-block;
      }
    }

    .nav-menu {
      display: flex;
      justify-content: flex-end;
      align-self: center;
      display: none;
      list-style-type: none;
      margin-bottom: 0;

      li.top-level-li {
        position: relative;
        margin-right: 1rem;

        &::after {
          content: "|";
          margin-left: 1rem;
          color: rgba($color-white, 0.5);
          vertical-align: bottom;
        }

        &:last-child {
          margin-right: 0;
          &::after {
            content: "";
            margin-left: 0;
          }
        }

        .navbar-link {
          font-family: $font-secondary;
          font-size: 15px;
          font-weight: 600;
          color: white;
          // margin-left: 2rem;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $color-main;
            text-decoration: none;
            transition: all 0.1s ease-in-out;
          }

          &.active {
            color: $color-dark;
            transition: all 0.1s ease-in-out;

            &:hover {
              color: $color-main;
            }
          }
        }
        .horiz-dropmenu {
          min-width: 250px;
          position: absolute;
          // top: 40px;
          left: 0;
          padding-left: 0;
          padding-top: 0.5rem;
          list-style-type: none;
          background: rgba($color-white, 0.8);
          visibility: hidden;
          opacity: 0;
          transition: all 0.2s ease-in-out;

          li {
            display: block;
            width: 100%;
            a {
              font-family: $font-secondary;
              font-size: 15px;
              display: block;
              width: 100%;
              color: $color-dark;
              padding: 0.2rem 1rem;

              &:hover {
                background-color: $color-main;
                color: $color-white;
                text-decoration: none;
              }
            }
          }
        }
      }
      .top-level-li:hover > .horiz-dropmenu {
        visibility: visible;
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  // overflow: hidden;
  background: rgba($color-white, 1);
  z-index: 99999;
  display: grid;
  visibility: hidden;

  transform: translateY(-5%);
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s ease-in-out,
    transform 0.4s ease-in-out;

  &.show {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    transition: visibility 0.3s linear, opacity 0.2s ease-in-out,
      transform 0.4s ease-in-out;
  }

  .menu-left {
    display: none;
  }
  .menu-right {
    .side-menu {
      min-height: 70%;
      width: 100%;
      list-style-type: none;
      margin-top: 0;
      padding: 25px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      li {
        display: block;
        width: 100%;
        position: relative;

        a {
          font-family: $font-secondary;
          font-size: 15px;
          font-weight: 600;
          color: $color-dark;
          display: block;
          width: 100%;
          padding: 0.5rem 2rem;
          transition: all 0.5s ease-in-out;

          &:hover {
            text-decoration: none;
            color: $color-dark;
            background: $bg-color;
            transition: all 0.5s ease-in-out;
          }
        }
      }
      .dropmenu {
        position: absolute;
        width: auto;
        height: auto;
        top: 40px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        background: $bg-color;
        padding: 0;
        visibility: hidden;
        z-index: 89;
        opacity: 0;
        transition: all 0.3s ease-in-out;

        li {
          display: block;
          // width: 100%;
          a {
            padding-left: 3rem;
            &:hover {
              background-color: $color-white;
              transition: all 0.1s ease-in-out;
            }
          }
        }
      }
    }
    .dropdown-trigger:hover > .dropmenu {
      visibility: visible;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }

    .menu-footer {
      height: 35vh;
      margin-left: 2rem;

      .social-menu {
        width: 100%;
        display: flex;
        a {
          margin-left: 0.5rem;
        }
        a:nth-child(1) {
          margin-left: 0;
        }
      }
      .menu-logo {
        max-width: 169px !important;
        margin: 1rem 0;
        display: block;
      }
      a {
        display: block;
      }
    }
  }
}
