/* -------------------------------------------------------------------------- */
/* LINKS - SITEWIDE */
/* -------------------------------------------------------------------------- */
.section-learn-more {
  font-family: $font-secondary;
  font-size: 20px;
  font-weight: 600;
  color: $color-dark;
  transition: all 0.3s ease-in-out;

  &::after {
    content: url("../img/right-arrow.png");
    padding-left: 2rem;
  }

  &:hover {
    color: $color-main;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
}
.section-links {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
.section-link {
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: 300;
  color: $color-dark;
  transition: all 0.3s ease-in-out;

  &::after {
    // content: url("../img/link-chevron.png");
    content: ">";
    padding-left: 10px;
  }

  &:hover {
    color: $color-main;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
}
.footer-link {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 300;
  color: $color-dark;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $color-main;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
}
