/* -------------------------------------------------------------------------- */
/* RESPONSIVE MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SMALL BREAKPOINT (Landscape Phones and Up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 1.5rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MEDIUM BREAKPOINT (Tablets 768px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
  }
  /* Face Section -------------------------------------------------- */
  .face {
    .containerish {
      grid-template-columns: 1fr 25px 1fr;
      grid-template-rows: min-content 50px min-content 1fr;

      .section-header {
        text-align: left;
        grid-column: 1 / 4;
        grid-row: 1 / 3;
      }
      img {
        grid-row: 2 / 5;
        grid-column: 2 / 4;
        height: auto;
        width: 100%;
        position: relative;
        right: -25px;
      }
      .section-info {
        padding-top: 3rem;
        grid-row: 3;
        grid-column: 1 / 3;
      }
      ul {
        grid-row: 4;
        grid-column: 1 / 4;
      }
    }
  }
  /* Blending Section ---------------------------------------------- */
  .blending {
    padding: 60px 20px;

    .containerish {
      display: flex;
      align-items: center;
      justify-content: center;

      .section-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          margin-bottom: 3rem;
          text-align: center;
        }
        .body-copy {
          margin-bottom: 3rem;
          max-width: 550px;
        }
        .section-links {
          margin-top: 4rem;
        }
      }
    }
  }
  /* Breast Section ------------------------------------------------ */
  .breast {
    .containerish {
      grid-template-columns: 45% 55%;
      grid-template-rows: auto;

      .section-info {
        grid-column: 2 / -1;
        grid-row: 1 / -1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
      ul {
        grid-row: 2;
        grid-column: 2 / -1;
      }
    }
  }
  /* Body Section -------------------------------------------------- */
  .body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    padding: 40px 20px 0 20px;

    .containerish {
      .section-header {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
      }
      img {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        height: auto;
        width: 100%;
      }
      .section-info {
        padding-top: 3rem;
        grid-row: 2;
        grid-column: 1 / 2;
      }
      img {
        margin-bottom: 0;
      }
    }
  }
  /* Injectables Section ------------------------------------------- */
  .injectables {
    background: url("../img/injectables-bg@2x.jpg") right / cover;
    width: 95%;
    margin: 0 auto;
    .containerish {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      .section-info {
        padding-top: 3rem;
        grid-row: 1;
        grid-column: 2 / 3;
      }
    }
  }
  /* Bio Section --------------------------------------------------- */
  .bio {
    .containerish {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 2rem;

      .section-info {
        grid-row: 1;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      img {
        grid-row: 1;
        grid-column: 2 / 3;
      }
    }
  }
  /*.reviews Section ----------------------------------------------- */
  .reviews {
    width: 95%;
    margin: 0 auto;
  }
  /* Footer Section ------------------------------------------------ */
}

/* -------------------------------------------------------------------------- */
/* LARGE BREAKPOINT (Desktops 992px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  .containerish {
    width: 95%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
  }
  /* Consultation Form */
  .consultation {
    background: $color-white;
    width: 300px;
    height: 350px;
    position: fixed;
    left: 0;
    bottom: calc(-350px + 50px);
    z-index: 999;
    box-shadow: 0 6px 12px rgba($color-black, 0.1);
    display: block;
    transition: all 0.5s ease-in-out;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }

    &.open {
      bottom: 0;
      transition: all 0.5s ease-in-out;
    }

    .consult-wrapper {
      padding: 0.5rem 1rem;
      .constult-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 35px;
        p {
          font-family: $font-primary;
          font-size: 12px;
          color: $color-dark;
          font-weight: 600;
          line-height: 0;
          margin: 0;
        }
        .consult-trigger {
          cursor: pointer;
          flex: 1;
          img {
            width: 25px !important;
          }
        }
        margin-bottom: 1rem;
      }
      .consult-form {
        .form-control {
          border-radius: 0;
          margin-bottom: 1rem;
        }
      }
    }
  }
  /* Header Section ------------------------------------------------ */
  header {
    .main-navbar {
      width: 100%;
      .top-menu-logo {
        display: none;
        max-width: 150px;
        height: auto;
        grid-column: 1 / 2;
        margin-left: 0;
        transition: all 0.3s ease-in-out;

        &.active {
          display: inline;
          // margin-left: 6rem;
          transition: all 0.3s ease-in-out;
        }
      }
      .social-menu {
        display: flex;
        transition: all 0.3s ease-in-out;

        .fab:nth-child(1) {
          margin-right: 1rem;
          display: inline-block;
        }
      }
      .header-social-menu {
        display: flex;
        transition: all 0.3s ease-in-out;

        .fab:nth-child(1) {
          margin-right: 1rem;
          display: inline-block;
        }

        &.active {
          display: none;
          transition: all 0.3s ease-in-out;
        }
      }
      .nav-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-column: 2 / 3;
        grid-row: 1;

        .dropmenu {
          position: absolute;
          background: #fff;
          // padding: 1rem;
          top: 40px;
          left: 0;
          right: 0;
          width: 200px;
          margin-left: 2rem !important;
          list-style-type: none;

          li {
            a {
              padding-left: 1rem;
            }
          }
        }
      }
    }
  }

  .menu-container {
    position: fixed;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;

    .menu-left {
      grid-column: 1 / 2;
      background: url("../img/menu-img@2x.jpg") center / cover;
      display: flex;
      align-items: center;
      justify-content: center;

      .section-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          text-align: center;
        }

        visibility: hidden;
      }
    }
    .menu-right {
      padding: 30px 0;
      .side-menu {
        li {
          a {
            padding: 1rem 2rem;
          }
        }
        .dropmenu {
          position: absolute;
          width: auto;
          height: auto;
          top: 0;
          left: -80%;
          right: 100%;
          display: flex;
          flex-direction: column;
          align-items: center !important;
          justify-content: center !important;
          background: $bg-color;
          padding: 0;
          display: block;
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s ease-in-out;

          li {
            display: block;
            // width: 100%;
            a {
              &:hover {
                background-color: $color-white;
                transition: all 0.1s ease-in-out;
              }
            }
          }
        }
      }
    }
  }

  /* Hero Section -------------------------------------------------- */
  .hero {
    height: 75vh;

    .join-cta {
      background: $color-white;
      width: 305px;
      min-height: 126px;
      position: absolute;
      bottom: 0;
      right: 2rem;
      transform: translateX(0);
    }
  }
  /* Face Section -------------------------------------------------- */
  .face {
    padding-bottom: 100px;
    .containerish {
      grid-template-columns: 1fr 100px 100px 1fr;
      grid-template-rows: min-content 50px min-content 1fr;

      .section-header {
        text-align: left;
        grid-column: 1 / 4;
        grid-row: 1 / 3;
      }
      img {
        grid-row: 1 / 5;
        grid-column: 2 / 5;
        height: auto;
        width: 100%;
        position: relative;
        right: -150px;
      }
      .section-info {
        padding-top: 3rem;
        grid-row: 3;
        grid-column: 1 / 3;
      }
      ul {
        grid-row: 4;
        grid-column: 1 / 4;
      }
    }
  }
  /* Blending Section ---------------------------------------------- */
  .blending {
    padding: 100px 20px;
    height: 580px;
    display: flex;
    align-items: center;
    .containerish {
      display: flex;
      align-items: center;
      justify-content: center;

      .section-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          margin-bottom: 3rem;
          text-align: center;
        }
        .body-copy {
          margin-bottom: 3rem;
          max-width: 550px;
        }
        .section-links {
          margin-top: 4rem;
        }
      }
    }
  }
  /* Breast Section ------------------------------------------------ */
  .breast {
    height: 75vh;
    background: url("../img/breast-bg@2x.jpg") center / cover;
    display: flex;
    align-items: center;
  }
  /* Body Section -------------------------------------------------- */
  /* Injectables Section ------------------------------------------- */
  .injectables {
    height: 750px;
  }
  /* Bio Section --------------------------------------------------- */
  /*.reviews Section ----------------------------------------------- */
  .reviews {
    height: 681px;
  }
  /* Footer Section ------------------------------------------------ */
  footer {
    padding: 60px 0 10px 0;
    .containerish {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 2rem;

      .db-input {
        max-width: 90%;
      }

      .footer-col-1,
      .footer-col-2,
      .footer-col-3 {
        margin-top: 0;
      }

      .footnote {
        text-align: left;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1200px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
  /* Side Nav Section ---------------------------------------------- */
  .menu-container {
    .menu-right {
      padding: 55px 0;
      .side-menu {
        li {
          a {
            padding: 0.7rem 2rem;
          }
        }
      }
    }
  }
  /* Face Section -------------------------------------------------- */
  .face {
    .containerish {
      padding: 80px 20px 0px 20px;
      grid-template-columns: 1fr 100px 100px 1fr;
      grid-template-rows: 100px 100px 450px 25px;

      .section-header {
        text-align: left;
        grid-column: 1 / 4;
        grid-row: 1 / 3;
      }
      img {
        grid-row: 2 / 5;
        grid-column: 3 / 5;
        height: auto;
        width: 100%;
        right: -10px;
      }
      .section-info {
        padding-top: 3rem;
        grid-row: 3;
        grid-column: 1 / 2;
        // display: flex;
        // flex-direction: column;
        // align-items: flex-start;
        // justify-content: center;
      }
      .section-links {
        grid-row-start: 5;
        // margin-top: 15rem;
      }
    }
  }
  /* Blending Section ---------------------------------------------- */
  .blending {
    height: 650px;
  }
  /* Breast Section ------------------------------------------------ */
  .breast {
    height: 900px;
    background: url("../img/breast-bg@2x.jpg") center / cover;

    .section-info {
      grid-column: 2 / -1;
      grid-row: 1 / -1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    ul {
      grid-row: 2;
      grid-column: 2 / -1;
    }
    .containerish {
      grid-template-columns: 55% 45%;
      grid-template-rows: auto;
    }
  }
  /* Body Section -------------------------------------------------- */
  .body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-column-gap: 100px;
    padding: 3% 20px 0 20px;
    .section-header {
      max-width: 80%;
      margin: 0 auto;
      margin-bottom: 3rem;
    }
    .section-info {
      padding-top: 5rem;
    }
  }
  /* Injectables Section ------------------------------------------- */
  .injectables {
    background: url("../img/injectables-bg@2x.jpg") center / cover;
    height: 877px;
    .containerish {
      grid-template-columns: 55% 45%;
      grid-template-rows: auto;

      .section-info {
        padding-top: 3rem;
        grid-row: 1;
        grid-column: 2 / 3;
      }
    }
  }
  /* Bio Section --------------------------------------------------- */
  .bio {
    padding: 3% 20px;
  }
  /* Reviews Section ----------------------------------------------- */
  /* Footer Section ------------------------------------------------ */
  footer {
    .containerish {
      .db-input {
        max-width: 80%;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* SUPER LARGE BREAKPOINT (IMAC STATUS 1900px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1900px) {
  .menu-container {
    position: fixed;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
    .menu-right {
      padding: 45px 0;
      .side-menu {
        li {
          a {
            font-size: 1rem;
            padding: 1rem 2rem;
          }
        }
      }
    }
  }
  .face {
    .containerish {
      img {
        right: 0;
      }
    }
  }
}
