// Color Theme Vars
$color-main: #4a5d46;
$color-dark: #343847;
$copy-color: #999ba3;
$bg-color: #f7f7f7;
$color-white: #fff;
$color-black: #000;

/* -------------------------------------------------------------------------- */
/* COLOR THEME */
/* -------------------------------------------------------------------------- */
.color-main {
  color: $color-main;
}

.color-dark {
  color: $color-dark;
}

.copy-color {
  color: $copy-color;
}

.bg-color {
  background-color: $bg-color;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}
